<!DOCTYPE html>
<html lang="ja" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Angularの練習</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="myscript.js"></script>
</head>
<body>
    <h1>AngularJSの練習</h1>
    <div ng-controller="MainController">
      <form novalidate name="myForm", ng-submit="addUser()">
      <p>18+:<input type="checkbox" ng-model="user.adult" ng-true-value="'adult'" ng-false-value="'child'"></p>
      <p>Phone:
      <input type="radio" ng-model="user.phone" value="iPhone"> iPhone
      <input type="radio" ng-model="user.phone" value="Android"> Android
      </p>
      </form>
      <pre>{{user|json}}</pre>
    </div>
</body>
</html>